@import "../.././shared/variables";

.calendar-wrapper {
  max-width: 1170px;
  margin: auto;
  box-shadow: $boxShadow;
  background: $white;
  padding: 20px;
  color: $textColorDark;
  font-family: $font;
  .fc-day-header {
    height: 45px;
    line-height: 45px;
    background: $backgroundCalendar;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: $textColorLight;
  }
  .fc-toolbar h2 {
    font-weight: 400;
  }
  .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody,
  .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content,
  .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: $borderColor;
  }

  .fc-unthemed td.fc-today {
    background: $backgroundCalendar;
  }

  .fc-unthemed td.fc-day  {
    cursor: pointer !important;
    &:hover {
      box-shadow: $boxShadowDark;
    }
  }

  .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    padding: 10px 15px 0;
  }

  .fc-button {
    border: 1px solid $borderColor;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    color: $textColorDark;
    font-size: 13px;
    background: $white;
    box-shadow: $boxShadowDark;
    &:disabled {
      opacity: 1;
      color: $main;
    }
  }

  .fc-event {
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid $main;
    padding: 5px 15px;
    background-color: $main;
  }

  .fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
    border-color: $borderColor;
    background: $white;
    color: $main;
  }
  .fc-button-primary:not(:disabled):active:focus {
    box-shadow: $boxShadowInActive;
  }

  .fc .fc-row .fc-content-skeleton td {
    border-color: $borderColor;
  }
  .fc-unthemed {
    .fc-list-heading td {
      height: 45px;
      line-height: 45px;
      background: $backgroundCalendar;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      color: $textColorLight;
      text-align: center;
    }

    td.fc-list-item-title, td.fc-list-item-time, td.fc-list-item-marker fc-widget-content{
      vertical-align: middle;
      padding: 10px;
    }
  }

  .fc-now-indicator {
    position: absolute;
    border: 0.5px solid $main;
    &:before, &:after {
      content: '';
      width: 8px;
      height: 8px;
      background: $main;
      display: block;
      border-radius: 50%;
      position: absolute;
      right: 0;
      margin-top: -4px;
    }

    &:before {
      right: initial;
      left: -2px;
    }

    &-arrow {
      display: none;
    }
  }
}