.calendar-wrapper {
  max-width: 1170px;
  margin: auto;
  box-shadow: 0 2px 6px #0000000A;
  background: #fff;
  padding: 20px;
  color: #43425D;
  font-family: 'Source Sans Pro', sans-serif;
  .fc-day-header {
    height: 45px;
    line-height: 45px;
    background: #F5F6FA;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #A3A6B4;
  }
  .fc-toolbar h2 {
    font-weight: 400;
  }
  .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody,
  .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content,
  .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #EAF0F4;
  }

  .fc-unthemed td.fc-today {
    background: #F5F6FA;
  }

  .fc-unthemed td.fc-day  {
    cursor: pointer !important;
    &:hover {
      box-shadow: 0px 3px 6px #00000029;
    }
  }

  .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    padding: 10px 15px 0;
  }

  .fc-button {
    border: 1px solid #D7DAE2;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    color: #4D4F5C;
    font-size: 13px;
    background: #fff;
    box-shadow: 0 2px 3px #0000000D;
    &:disabled {
      opacity: 1;
      color: #3B86FF;
    }
  }

  .fc-event {
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #3B86FF;
    padding: 5px 15px;
    background-color: #3B86FF;
  }

  .fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
    border-color: #D7DAE2;
    background: #fff;
    color: #3B86FF;
  }
  .fc-button-primary:not(:disabled):active:focus {
    box-shadow: 0 0 3px 0px rgba(76, 91, 106, 0.5);
  }

  .fc-unthemed {
    .fc-list-heading td {
      height: 45px;
      line-height: 45px;
      background: #F5F6FA;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      color: #A3A6B4;
      text-align: center;
    }

    td.fc-list-item-title, td.fc-list-item-time, td.fc-list-item-marker fc-widget-content{
      vertical-align: middle;
      padding: 10px;
    }
  }


  .fc-now-indicator {
    position: absolute;
    border: 0.5px solid #3B86FF;
    &:before, &:after {
      content: '';
      width: 8px;
      height: 8px;
      background: #3B86FF;
      display: block;
      border-radius: 50%;
      position: absolute;
      right: 0;
      margin-top: -4px;
    }

    &:before {
      right: initial;
      left: -2px;
    }

    &-arrow {
      display: none;
    }
  }


}