$font: 'Source Sans Pro', sans-serif;
$boxShadow: 0 2px 6px #0000000A;
$boxShadowDark: 0 3px 6px #00000029;
$boxShadowInActive: 0 0 3px 0 rgba(76, 91, 106, 0.5);
$boxShadowPopup: 0 3px 18px #00000029;

// Colors
$white: #FFF;
$main: #3B86FF;

$borderColor: #D7DAE2;
$borderColorInput: #EAF0F4;
$borderColorPopup: #43425D;

$textColorDark: #43425D;
$textColorLight: #A3A6B4;

$iconColorGrey: #D6D6D6;
$placeholderColor: #D6D6D6;

$formBtn: #6A6996;
$formBtnCancel: #FF5F5F;

$background: #F0F0F7;
$backgroundCalendar: #F5F6FA;
