.form-wrapper {
  background: #fff 0 0 no-repeat padding-box;
  box-shadow: 0 3px 18px #00000029;
  border: 1px solid #43425D;
  border-radius: 10px;
  max-width: 200px;
  width: 100%;
  position: absolute;
  margin: auto;
  z-index: 1;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    margin: auto;
  }

  .fc-toolbar h2 {
    font-weight: 400;
  }

  form {
    padding: 5px 20px;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #EAF0F4;
    margin-bottom: 20px;
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #43425D;
    outline: none;
  }

  .input-wrap {
    position: relative;

    label {
      position: absolute;
      color: #D6D6D6;
      font-size: 18px;
      background: #fff;
      right: 0;
      top: 4px;
      width: 28px;
      height: 25px;
      text-align: center;
      pointer-events: none;
    }
  }

  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    border: none;
    background: transparent;
    outline: none;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    margin: 10px 0;
    color: #6A6996;
    cursor: pointer;

    &.btn-close {
      text-transform: uppercase;
      font-size: 20px;
      color: #D6D6D6;
      display: block;
      line-height: 1;
      height: auto;
      margin: 5px 5px auto auto;
    }
  }

  .btn-cancel {
    color: #FF5F5F;
  }

  .custom-select {
    & div {
      height: 30px;
      line-height: 30px;
    }

    &__control {
      border: none;
      border-bottom: 1px solid #EAF0F4;
      height: 30px;
      min-height: 30px;
      max-height: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      border-radius: 0;
      box-shadow: none;

      &:hover, &:focus, &:active {
        border: none;
        border-bottom: 1px solid #EAF0F4;
        box-shadow: none;
      }
    }

    &__value-container {
      padding: 0;
      height: 30px;
      font-size: 11px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #43425D;
      position: static;
    }

    &__indicator-separator {
      display: none;
    }

    &__menu {
      font-size: 11px;
    }

    &__indicators {
      max-height: 30px;
    }

    &__indicator {
      padding: 4px;
    }
  }
}

// Placeholder
::-webkit-input-placeholder {
  color: #D6D6D6;
  position: relative;
  top: -10px;
}

::-moz-placeholder {
  color: #D6D6D6;
  position: relative;
  top: -10px;
}

:-ms-input-placeholder {
  color: #D6D6D6;
  position: relative;
  top: -10px;
}

:-moz-placeholder {
  color: #D6D6D6;
  position: relative;
  top: -10px;
}