@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.wrapper {
  background: #F0F0F7;
  padding: 40px 0;
  user-select: none;
}